<html>
  <head>
    <title>Potin numéro <%= id %></title>
  </head>
  <body>
    <h1>Voici la page du potin numéro <%= id %>!</h1>
        <p>Son auteur : <%= gossip[0] %> </p>
        <a>Le contenu du potin : <%= gossip[1] %> </p>
    </form>
    <p><a href="<%= id %>/edit">Cliquer ICI</a> pour modifier ce potin.</p>
    <p><a href="/">Retour à la page des potins</a></p>
  </body>
</html>